---

import Layout from '../layouts/Layout.astro';
import Radio from '../components/Radio.svelte';

---

<Layout>
	<div class="flex justify-center items-center h-full">
		<Radio client:load/>
	</div>
</Layout>
