---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>radIO | ajith.fyi</title>
		
	</head>
	<body class="w-full h-full m-0">
		<header class="w-full p-4 border-b">
			<div class="text-xl font-bold">radIO<span class="text-sm text-gray-500">.ajith.fyi</span></div>
		</header>
		<slot />
	</body>
</html>
