---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>radIO | ajith.fyi</title>
		
	</head>
	<body class="w-full m-0 p-0 h-screen flex flex-col overscroll-none">
		<header class="w-full p-4 box-border from-white to-gray-200">
			<div class="text-xl font-bold">
				{
					Array.from("radIO").map((char, index) => (
						<span class="bg-gradient-to-tr from-gray-600  to-gray-200 inline-block text-transparent bg-clip-text">{char}</span>
					))
				}
				
				<span class="text-sm text-gray-500">.ajith.fyi</span>
			</div>
		</header>
		<slot />
	</body>
</html>
